
<%= _.template(require('./../includes/header.html'))() %>

<div id='cssmenu' class="align-center">
  <ul>
    <li class="active"><a href='index.html'><span>Главная</span></a></li>
    <li><a href='menu.html'><span>Меню</span></a></li>
  </ul>
</div>
</header>

<section id="container">
    <div class="wrap-container">
      <!-----------------content-box-1-------------------->
      <section class="content-box background-gray box-1 zerogrid">
        <div class="row wrap-box"><!--Start Box-->
          <div class="col-1-2">
            <div class="wrap-col">
              <div style="padding-top: 60px;">
                <div class="center"><img src="images/snacks/7.png"></div>
              </div>
            </div>
          </div>
          <div class="col-1-2">
            <div class="wrap-col">
              <div class="row">
                <div class="t-center" style="padding-top: 30px;">
                  <div class="header">
                    <h2>Вкусное <span class="color-red">мясо</span></h2>
                  </div>
                  <strong>Куриная грудка с овощами в духовке. </strong><br/><br>
                  <span>Куриная грудка с овощами – не конкретный рецепт, а обобщённое название блюд, которые готовятся из простых и доступных продуктов. Ингредиенты в любой композиции сочетаются, легко заменяются, приобретают особый вкус и аромат при добавлении специй.</span><br/><br>
                  <a href="#" class="button js-btn-one" >Подробнее</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-----------------content-box-2-------------------->
      <section class="content-box background-white box-2 zerogrid">
        <div class="row wrap-box"><!--Start Box-->
          <div class="col-1-2 f-right">
            <div class="wrap-col">
              <div style="padding-top: 60px;">
                <div class="center"><img src="images/salads/9.png"></div>
              </div>
            </div>
          </div>
          <div class="col-1-2">
            <div class="wrap-col">
              <div class="row">
                <div class="t-center" style="padding-top: 30px;">
                  <div class="header">
                    <h2>Салат:</h2>
                  </div>
                  <strong>Куриный салат </strong><br/><br>
                  <span>Куриный салат готовится путем разрезания салата и вареной курицы на полоски, которые затем соединяются в салатницу и приправляются маслом, солью и перцем. Вот инструкция по приготовлению куриного салата по рецептуре.</span><br/><br>
                  <a href="#" class="button js-btn-two" >Подробнее</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     
      
    </div>
  </section>
  <hr class="line">



<%= _.template(require('./../includes/footer.html'))() %>