
<%= _.template(require('./../includes/header.html'))() %>

<div id='cssmenu' class="align-center">
  <ul>
    <li ><a href='index.html'><span>Главная</span></a></li>
    <li ><a href='menu.html'><span>Меню</span></a></li>
  </ul>
</div>
</header>

<section id="container">
    <div class="wrap-container">
      <!-----------------content-box-1-------------------->
      <section class="content-box background-gray box-1 zerogrid">
        <div class="row wrap-box"><!--Start Box-->
          <div class="col-1-3">
            <div class="wrap-col">
              <div>
                <div class="center"><img class="item-img" src="images/pizza/2.jpg"></div>
              </div>
            </div>
          </div>
          <div class="col-2-3">
            <div class="wrap-col">
              <div class="row">
                <div class="t-center" style="padding-top: 30px;">
                  <div class="header">
                    <h2 class="item-name">dsdsa</h2>
                  </div>
                
                  <span class="item-description">dsads</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row wrap-box"><!--Start Box-->
          <div class="wrap-col">
            <div class="row">
              <div class="t-center">
                <div class="header">
                  <h2>Продукты</h2>
                </div>
                <ul class="needItems">
                  <li class="needItems-item"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row wrap-box"><!--Start Box-->
          <div class="wrap-col">
            <div class="row">
              <div class="t-left">
                <div class="header">
                  <h2>Приготовление</h2>
                </div>
                <ul class="needForDo">
                  <li class="needForDo-item"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      
    </div>
  </section>
  <hr class="line">



<%= _.template(require('./../includes/footer.html'))() %>